# Direct connection for migrations
DIRECT_URL="postgresql://postgres:[DB_PASSWORD]@db.lvkyqqvdmxjop.supabase.co:5432/postgres"

# Pooled connection for runtime queries
DATABASE_URL="postgresql://postgres.lvkyqqvdmxjop:[DB_PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"